<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Target Training | Step 1</title>
</head>

<body>
<div th:replace="fragments/_header::header"></div>
<h2>Step 1: Acknowledge</h2>
<img th:src="@{/acknowledge.jpg}" alt="Red panda looking at the the target stick">
<p>The very first step is to get your animal to acknowledge the target. Each time that the animal looks or sniffs at the target, reward them.
This is to get the animal to associate the target with treats and is a great place to start. This, depending on the animal, may take a few looks to a
few sessions to understand that they should be acknowledging the target. Give youre animal enough time to pick this up. It may help to
rub some food on the target to get the animal to smell it. </p>
<p>Image credit goes to <a href="https://www.whyanimalsdothething.com/how-to-understand-zoo-animal-training">creator</a> </p>
<div th:replace="fragments/_footer::footer"></div>
</body>
</html>