<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Target Training | Step 3</title>
</head>

<body>
<div th:replace="fragments/_header::header"></div>
<h2>Step 3: Movement</h2>
<img th:src="@{/movement.jpg}" alt="Lion reaching up to touch target">

<p>The last step in target training your animal is to get them to move around. This may include following the target or having
them move from one spot to the (stationary) target. Start small. Get them to move just one or two steps using the command you established
in step two. Work up until they are able to follow the target or move to it once they are told. Continue to reward them every time they
successfully touch the target.</p>
<p>Image credit goes to <a href="https://www.pinterest.com/pin/144467100522267196/">creator</a> </p>
<div th:replace="fragments/_footer::footer"></div>
</body>
</html>