<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Target Training | Step 2</title>
</head>

<body>
<div th:replace="fragments/_header::header"></div>
<h2>Step 2: Touch</h2>
<img th:src="@{/touch.jpg}" alt="Dog touching target stick with nose">
<p>Once your animal has associate the target with the treats, it's time to ask them for more. The next step in target training
is to get the animal to touch the target while it is stationary. This time, don't reward them until their nose makes contact
with the target. Start close to their nose and slowly move it further away (within standing reach). You may move it in different positions
around their head as long as they can easily reach the target. Moving the target too far away too early may confuse the animal.
<br>
This is when you should start teaching them a command. Teach them the command every time they touch the target. You may use
    a command like "target" or "touch." Make sure to keep the command short - one or two words, not whole sentences. Once they start
    to understand the command, give it before they make contact with the target. Getting them to understand the command and touch
    the target may take several sessions. Don't give up! Training takes time.
</p>
<p>Image credit goes to <a href="https://shop.clickertraining.com/products/buoy-target-with-handle">creator</a> </p>
<div th:replace="fragments/_footer::footer"></div>
</body>
</html>